div.wrapper
  div.title TODO
  div.container
    div.header
      input#todo(type="text" placeholder="write something here...")
    div.content
    div.footer
      span#All.filter(style="color: #000;") All 
      span#Done.filter Done 
      span#Undone.filter Undone